.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list__fallback {
  color: white;
  text-align: center;
}

@media (max-width: 450px) {
  .expenses-list__fallback {
    font-size: 1rem;
  }
  .expeneses-list {
    padding: 0.5rem;
  }
}
